<div class="fill-container">
  <!-- Loading -->
  <div class="fill-loading" *ngIf="loading">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <!-- Error -->
  <div class="fill-error" *ngIf="error && !loading">
    <p>{{ 'errors.generic' | translate }}</p>
    <div class="fill-error-actions">
      <button mat-raised-button color="primary" routerLink="/desk">{{ 'common.back' | translate }}</button>
      <button mat-stroked-button (click)="retryLoad()">{{ 'common.retry' | translate }}</button>
    </div>
  </div>

  <!-- Form Content -->
  <ng-container *ngIf="!loading && !error && template">
    <fc-offline-sync-panel></fc-offline-sync-panel>

    <!-- Deprecated Warning -->
    <div class="deprecated-banner" *ngIf="isDeprecated">
      <mat-icon color="warn">warning</mat-icon>
      <span>A newer version of this template is available. You can still fill this version.</span>
    </div>
    <!-- Toolbar -->
    <fc-form-toolbar
      [formValid]="formValid"
      [isDirty]="isDirty"
      [submitting]="submitting"
      [savingDraft]="savingDraft"
      (print)="onPrint()"
      (printNext)="onPrintAndNext()"
      (saveDraft)="onSaveDraft()"
      (clearAll)="onClearAll()"
      (cancel)="onCancel()"
      (feedback)="openFeedbackDialog()">
    </fc-form-toolbar>

    <!-- Error Summary -->
    <fc-error-summary [form]="form" *ngIf="form"></fc-error-summary>

    <!-- Clone Info Banner -->
    <div class="clone-banner" *ngIf="cloneInfo">
      <mat-icon>info</mat-icon>
      <span>{{ 'history.clone_notice' | translate:{ref: cloneInfo.ref} }}</span>
    </div>

    <div class="completion-bar" *ngIf="completionPercent > 0 && completionPercent < 100">
      {{ 'filler.completion' | translate:{percent: completionPercent} }}
    </div>

    <div class="offline-actions">
      <button mat-stroked-button type="button" (click)="onSaveOfflineDraft()" [disabled]="savingOffline || submitting">
        <mat-icon>lock</mat-icon>
        <span>{{ 'offline.save_encrypted_draft' | translate }}</span>
      </button>
      <button mat-flat-button color="primary" type="button" (click)="onQueueOfflineSubmission()" [disabled]="!formValid || submitting">
        <mat-icon>outbox</mat-icon>
        <span>{{ 'offline.queue_submission' | translate }}</span>
      </button>
    </div>

    <form [formGroup]="form" class="fill-form">
      <!-- No fillable fields message -->
      <div *ngIf="getAllElements().length === 0" class="fill-empty">
        <p>{{ 'filler.no_fillable_fields' | translate }}</p>
      </div>

      <!-- Pages -->
      <div *ngFor="let page of template.pages; let i = index" class="fill-page">
        <div *ngIf="i > 0" class="fill-page-divider"></div>

        <ng-container *ngFor="let elem of getElementsForPage(i)">
          <fc-field-renderer
            *ngIf="isElementVisible(elem.key)"
            [element]="elem"
            [control]="getControl(elem.key)"
            [label]="getLabel(elem)"
            [country]="template.country || ''"
            (entrySelected)="onEntrySelected($event)">
          </fc-field-renderer>
        </ng-container>
      </div>
    </form>
  </ng-container>
</div>
